<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">   
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:insert name="start_page">
        <ui:composition template="/my_template.xhtml">
            <!-- This the title been been replaced by the current page -->
            <ui:define name="title">
                <h:outputText value="#{bundle.Company}"/>
            </ui:define>

            <ui:define name="navigation-bar">
                <h:form id="navigation-form">
                    <p:growl id="navMessage"/>
                    <p:toolbar>
                        <p:toolbarGroup align="left">
                            <p:commandButton type="button" value="#{bundle.Home}" icon="ui-icon-home" />
                            <p:separator />
                            <!-- Adding user role page and user info -->
                            <ui:include src="user_role_page.xhtml"/>
                            <p:separator />
                        </p:toolbarGroup>

                        <p:toolbarGroup id="nav-toolbar" align="right">
                            <!-- This is static-->
                            <p:commandButton  id="productsButton" value="#{bundle.ShowProducts}" onclick="PF('gnomePanel').show()"/>
                            <p:separator />
                            <!-- This is dynamic -->
                            <c:choose>
                                <c:when test="#{userBean.isOnline}">
                                    <p:commandButton id="mycartButton" value="#{bundle.Cart}" onclick="PF('mycartDialog').show()" icon="ui-icon-cart"/>
                                    <p:separator />
                                    <p:commandButton id="logoutButton" value="#{bundle.Logout}" action="#{userBean.logOutUser()}" icon="ui-icon-power"/>
                                </c:when>
                                <c:otherwise>
                                    <p:commandButton id="registerButton" value="#{bundle.NewUser}" onclick="PF('registrationDialog').show()"/>
                                    <p:separator />
                                    <p:commandButton id="loginButton" value="#{bundle.Login}" onclick="PF('loginDialog').show()"/>
                                </c:otherwise>
                            </c:choose>

                        </p:toolbarGroup>
                    </p:toolbar>

                </h:form>
            </ui:define>

            <ui:define name="body">
               <div class="ip-container" id="ip-container">
        <!--initial header-->
        
        <!--main content-->
        
        
        <!-- Adding the gnome_list-->
                    <ui:include src="gnome_list_page.xhtml"/>
                    <!-- Keeping the login/registration/logout option if the user is not logged in-->
                    <ui:include src="login_page.xhtml"/>
                    <ui:include src="registration_page.xhtml"/>
                    <!-- Keep the cart Page in case the user is logged in-->
                    <ui:include src="user_basket_page.xhtml"/>
                    <!-- showing the registered users as reference -->
                    <ui:include src="user_list_page.xhtml"/>
                    <!-- Showing the add item option as reference for the admin-->
                    <ui:include src="add_item_page.xhtml"/>

                    
  
    
  
    
<div class="ip-container" id="ip-container">
      <!--initial header-->
      
      <!--main content-->
      
<div class="ip-main">
        
<div class="top-highlight hide">
          &nbsp;
        </div>
        <!-- Start Header Cake -->
        <section class="header-wrapper">
          <header class="wrap-header">
            
<div class="top-absolute">
              

              
<div class="triangle">
                &nbsp;
              </div>
            </div>
            
<div class="tittle-sub-top pad-top-150">
              
<div class="container">
                Início /
                
<h1>
                  Carrinho
                </h1>
                
<h2>
                  Doce
                </h2>
              </div>
            </div>
          </header>
          
<div class="purple-arrow">
            &nbsp;
          </div>
          
<div class="chart-cake">
            
<div class="container">
              
<table class="table table-bordered table-hover hidden-xs">
                <thead>
                  
<tr>
                    
<th>
                      Nº
                    </th>
                    
<th>
                      Produto
                    </th>
                    
<th>
                      Descrição
                    </th>
                    
<th>
                      Data
                    </th>
                    
<th>
                      Qtd
                    </th>
                    
<th>
                      Preço
                    </th>
                    
<th>
                      Status
                    </th>
                  </tr>
                </thead>
                
<tbody>
                  
<tr>
                    
<td>
                      1
                    </td>
                    
<td>
                      <img alt="Cake-one" class="img-100px" src="assets/images/cake-one-buy.png" />
                    </td>
                    
<td class="chart-description">
                      
<h4 class="mar-btm-0">
                        Torta Três Porquinhos na Lama
                      </h4>
                      
<ul class="star normal-heading">
                        
<li>
                          
<div class="icon-star-active">
                            &nbsp;
                          </div>
                        </li>
                        
<li>
                          
<div class="icon-star-active">
                            &nbsp;
                          </div>
                        </li>
                        
<li>
                          
<div class="icon-star-active">
                            &nbsp;
                          </div>
                        </li>
                        
<li>
                          
<div class="icon-star-active">
                            &nbsp;
                          </div>
                        </li>
                        
<li>
                          
<div class="icon-star-active">
                            &nbsp;
                          </div>
                        </li>
                        
<li>
                          <span class="grey-color"><i>Recomendado</i></span>
                        </li>
                      </ul>
                      
<p class="mar-top-10 pad-top-10 top-dashed">
                      Torta com do bolo de chocolate especial da casa umidecido com especiarias e toques de cacau, recheado com uma camada de
                          doce de chocolate e outra com doce de coco, decorado com camada de chocolate blend, biscoitos de
                          chocolate e porquinhos de leite ninho.  
                      </p>
                    </td>
                    
<td>
                      03 junho 2017
                    </td>
                    
<td>
                      1
                    </td>
                    
<td>
                      R$100,00
                    </td>
                    
<td class="chart-center">
                        <button class="btn btn-pink-cake mar-right-10"><a href="checkout.jsp">Checkout</a></button>
                    </td>
                  </tr>
                  
<tr>
                    
                  </tr>
                </tbody>
              </table>
              
<div class="visible-xs">
                
<div class="top-cake-table">
                  
<div class="top-cake-no">
                    No : 1
                  </div>
                  
<div class="top-cake-product">
                    Product : Purple Cake
                    
<ul class="star normal-heading">
                      
<li>
                        
<div class="icon-star-active">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-active">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-active">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-disable">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-disable">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        <span class="grey-color"><i>Required</i></span>
                      </li>
                    </ul>
                  </div>
                  
<div class="top-cake-desription">
                    Description : 
                    
<p>
                      Toffee sugar plum halvah liquorice brownie gummies chocolate bar muffin candy canes. Dessert jelly-o tootsie roll jelly sesame snaps icing.
                    </p>
                  </div>
                  
<div class="top-cake-img">
                    <img alt="Cake-one" class="img-150px" src="assets/images/cake-one-buy.png" />
                  </div>
                  
<div class="top-cake-button text-center">
                    <button class="btn btn-pink-cake mar-right-10">Checkout</button>
                  </div>
                </div>
                
<div class="top-cake-table">
                  
<div class="top-cake-no">
                    No : 2
                  </div>
                  
<div class="top-cake-product">
                    Product : Pink Cake
                    
<ul class="star normal-heading">
                      
<li>
                        
<div class="icon-star-active">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-active">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-active">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-disable">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-disable">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        <span class="grey-color"><i>Required</i></span>
                      </li>
                    </ul>
                  </div>
                  
<div class="top-cake-desription">
                    Description : 
                    
<p>
                      Toffee sugar plum halvah liquorice brownie gummies chocolate bar muffin candy canes. Dessert jelly-o tootsie roll jelly sesame snaps icing.
                    </p>
                  </div>
                  
<div class="top-cake-img">
                    <img alt="Cake-one" class="img-150px" src="assets/images/cake-two-buy.png" />
                  </div>
                  
<div class="top-cake-button text-center">
                    <button class="btn btn-pink-cake mar-right-10">Checkout</button>
                  </div>
                </div>
                
<div class="top-cake-table">
                  
<div class="top-cake-no">
                    No : 3
                  </div>
                  
<div class="top-cake-product">
                    Product : Pink Cake
                    
<ul class="star normal-heading">
                      
<li>
                        
<div class="icon-star-active">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-active">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-active">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-disable">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        
<div class="icon-star-disable">
                          &nbsp;
                        </div>
                      </li>
                      
<li>
                        <span class="grey-color"><i>Required</i></span>
                      </li>
                    </ul>
                  </div>
                  
<div class="top-cake-desription">
                    Description : 
                    
<p>
                      Toffee sugar plum halvah liquorice brownie gummies chocolate bar muffin candy canes. Dessert jelly-o tootsie roll jelly sesame snaps icing.
                    </p>
                  </div>
                  
<div class="top-cake-img">
                    <img alt="Cake-one" class="img-150px" src="assets/images/cake-three-buy.png" />
                  </div>
                  
<div class="top-cake-button text-center">
                    <button class="btn btn-pink-cake mar-right-10">Pagar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Header Cake -->
        
<div class="green-arrow">
          &nbsp;
        </div>
        <!-- Start More Cake -->
        <section class="more-cake text-center">
          
<div class="container">
            <img alt="Cake-White" class="mar-top-20" src="assets/images/cake-white.png" />
            
<p class="mar-top-20 mar-btm-20">
              Você pode&nbsp;<b>olhar também</b>&nbsp;estas delícias.
            </p>
            
<div class="row">
              
<div class="col-sm-4">
                
<div class="more-product">
                  <img alt="More-Product" class="img-100" src="assets/images/bread.png" />
                </div>
                
<div class="detail-product">
                  
<div class="row">
                    
<div class="col-sm-6">
                      
<h1 class="normal-heading green-color">
                        $1
                      </h1>
                    </div>
                    
<div class="col-sm-6">
                      <b>Pães </b><i>Caseiros</i>
                    </div>
                  </div>
                </div>
              </div>
              
<div class="col-sm-4">
                
<div class="more-product">
                  <img alt="More-Product" class="img-100" src="assets/images/cookies.png" />
                </div>
                
<div class="detail-product">
                  
<div class="row">
                    
<div class="col-sm-6">
                      
<h1 class="normal-heading green-color">
                        $3
                      </h1>
                    </div>
                    
<div class="col-sm-6">
                      <b>Cookies </b><i>Crocantes</i>
                    </div>
                  </div>
                </div>
              </div>
              
<div class="col-sm-4">
                
<div class="more-product">
                  <img alt="More-Product" class="img-100" src="assets/images/cupcake.png" />
                </div>
                
<div class="detail-product">
                  
<div class="row">
                    
<div class="col-sm-6">
                      
<h1 class="normal-heading green-color">
                        $5
                      </h1>
                    </div>
                    
<div class="col-sm-6">
                      <b>Deliciosos </b><i>Cupcakes</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End More Cake -->
        
<div class="green-arrow">
          &nbsp;
        </div>
        
<div class="pad-top-150" />
        <!-- End Option Cake --><!-- Start Footer Cake -->
        <footer>
          
<div class="triangle-no-animate">
            &nbsp;
          </div>
          
<div class="container">
            
<div class="abs-logo-footer">
              <img alt="Logo-Cake" src="assets/images/cake-white-lg.png" />
            </div>
            
<div class="top-footer">
              
<div class="row">
                
<div class="col-sm-6">
                  <img alt="Logo-White" class="img-cake-center-res mar-btm-20" src="assets/images/logo-white.png" />
                </div>
                
<div class="col-sm-6 text-right">
                  
<ul class="sosmed-cake">
                    
<li>
                      
<div class="center-sosmed">
                        
<p class="icon icon-facebook">
                          &nbsp;
                        </p>
                      </div>
                    </li>
                    
<li>
                      
<div class="center-sosmed">
                        
<p class="icon icon-twitter">
                          &nbsp;
                        </p>
                      </div>
                    </li>
                    
<li>
                      
<div class="center-sosmed">
                        
<p class="icon icon-behance">
                          &nbsp;
                        </p>
                      </div>
                    </li>
                    
<li>
                      
<div class="center-sosmed">
                        
<p class="icon icon-dribbble">
                          &nbsp;
                        </p>
                      </div>
                    </li>
                    
<li>
                      
<div class="center-sosmed">
                        
<p class="icon icon-pinterest">
                          &nbsp;
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
<div class="line-top-white mar-btm-20 mar-top-20">
              &nbsp;
            </div>
            
<div class="content-about-footer">
              <!-- Column -->
              
<div class="col-sm-4">
                
<h4>
                  Engenho Doce
                </h4>
                
<p class="mar-btm-20">
                   Somos uma equipe que adora fazer doces artesanais e se juntou para atender quem aprecia doces de alta qualidade e sabor inigualável.
                </p>
                
<p class="mar-btm-20">
                  Centro <br />Goiânia-Goiás, Brasil<br />
                </p>
                
<p class="mar-btm-20">
                  Tel : <strong>062 32035723</strong>
                </p>
              </div>
              
              <!-- Column -->
              
<div class="col-sm-4">
                
<ul class="list-link-home">
                  
<li>
                    <a href="shop.html">Loja</a>
                  </li>
                  
                  
<li>
                    <a href="privacy-policy.html">Privacidade</a>
                  </li>
                  
<li>
                    <a href="terms-of-use.html">Termos de Uso</a>
                  </li>
                  
<li>
                    <a href="blog-center.html">Blog</a>
                  </li>
                </ul>
              </div>
            </div>
            
<div class="logo-dn">
              <img alt="Delip Nugraha" src="assets/images/dn.png" />
            </div>
          </div>
        </footer>
        <!-- End Option Cake -->
      </div>
    </div>
      
    

    
<script src="assets/javascripts/fancybox/jquery.fancybox.pack.js"></script>
    
<script src="assets/javascripts/slick.js"></script>
    
<script src="assets/javascripts/wow/wow.js"></script>
    
<script src="assets/javascripts/custom.js"></script>
    
<script src="assets/javascripts/bootstrap.js"></script>
    
<script src="assets/javascripts/classie.js"></script>
    
<script src="assets/javascripts/pathLoader.js"></script>
    
<script src="assets/javascripts/main.js"></script>
    
<script type="text/javascript">
      new WOW().init();
    </script>

</div>
            </ui:define>

        </ui:composition>

    </ui:insert>

</html>

