<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form id="logregForm">
        <!-- Error Handling -->
        <p:growl id="logreg-message"/>
        <!-- This following dialog will be pop up when we click on log in -->
        <p:dialog header="Login" widgetVar="loginDialog" height="200px" resizable="false">
            <p:panelGrid id="loginPanel" columns="2">
                <f:facet name="header">
                    Login Form
                </f:facet>
                <h:outputLabel value="#{bundle.UserName}" />
                <p:inputText  value="#{userBean.userName}"/>
                <h:outputLabel value="#{bundle.Password}" />
                <p:password value="#{userBean.password}"/>
                <!-- Login User -->
                <f:facet name="footer">
                    <p:commandButton id="loginButton"  value="#{bundle.Submit}" action="#{userBean.logInUser()}" update=":logregForm:logreg-message"/>
                </f:facet>
            </p:panelGrid>
        </p:dialog>

        <!-- The following dialog will pop up when the user clicked registration button -->
        <p:dialog header="Registration" widgetVar="registrationDialog" height="200px" resizable="false">
            <p:panelGrid id="registrationPanel" columns="2">
                <f:facet name="header">
                    Formulário de Registro
                </f:facet>

                <h:outputLabel value="#{bundle.UserName}" />
                <p:inputText  value="#{userBean.userName}"/>
                <h:outputLabel value="#{bundle.Password}" />
                <p:password value="#{userBean.password}"/>

                <!-- Register new User -->
                <f:facet name="footer">
                    <p:commandButton id="registerButton"  value="#{bundle.Submit}" action="#{userBean.registerUser()}" update=":logregForm:logreg-message"/>
                </f:facet>
            </p:panelGrid>
        </p:dialog>
    </h:form>
</html>

