<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form id="logForm">
        <!-- Error Handling -->
        <p:growl id="log-message"/>
        <!-- This following dialog will be pop up when we click on log in -->
        <p:dialog header="Login" widgetVar="loginDialog" height="200px" resizable="false">
            <p:panelGrid id="loginPanel" columns="2">
                <f:facet name="header">
                    Formulário de Login
                </f:facet>
                <h:outputLabel value="#{bundle.UserName}" />
                <p:inputText  value="#{userBean.userName}"/>
                <h:outputLabel value="#{bundle.Password}" />
                <p:password value="#{userBean.password}"/>
                <!-- Login User -->
                <f:facet name="footer">
                    <p:commandButton id="loginButton"  value="#{bundle.Submit}" action="#{userBean.logInUser()}" update=":navigation-form,:productForm:availableGnomes,:logForm:log-message" oncomplete="PF('loginDialog').hide()"/>
                </f:facet>
            </p:panelGrid>
        </p:dialog>
    </h:form>
</html>

