<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title><ui:insert name="title">ENGENHO DOCE</ui:insert></title>
        <link type="text/css" rel="stylesheet"
              href="styleR.css" />
        <meta charset="utf-8" />
    
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
    
<meta content="Engenho Doce" name="description" />
    
<meta content="" name="author" />
    <link href="assets/images/favicon-32x32.png" rel="shortcut icon" />
    
    <title>Engenho Doce</title>
    <link href="assets/stylesheets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/stylesheets/css/font-family.css" rel="stylesheet" />
    <link href="assets/stylesheets/css/responsive.css" rel="stylesheet" />
    <link href="assets/stylesheets/css/slick.css" rel="stylesheet" />
    <link href="assets/stylesheets/css/slick-theme.css" rel="stylesheet" />
    <link href="assets/stylesheets/css/style.css" rel="stylesheet" />
    <link href="assets/stylesheets/css/animate.css" rel="stylesheet" />
    <link href="assets/javascripts/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="assets/stylesheets/css/global.css" rel="stylesheet" />
    <link href="assets/stylesheets/css/effect2.css" rel="stylesheet" type="text/css" />
    <link href="assets/stylesheets/css/login.css" rel="stylesheet" />
   <script src="assets/javascripts/modernizr.custom.js"></script>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit id="layout-north" position="north">
                    
                    
                        
                        
                        <ui:insert name="navigation-bar"></ui:insert>
                    
            </p:layoutUnit>
            
            

            <p:layoutUnit id="layout-center" position="center" size="400" minSize="300" maxSize="500" resizable="true">
                <ui:insert name="body"></ui:insert>
            </p:layoutUnit>
            
            </p:layout>
    </h:body>
</html>

