/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2016, 12:20:37 AM
    Author     : maaahad
*/

#layout{
    min-width: 400px; 
    min-height: 200px;
    background-color: pink;
}
#layout-north-layout{
    min-width: 400px; 
    min-height: 100px;  
}
